@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply font-sans;
} */

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  backface-visibility: hidden;
}


.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

@keyframes magicReveal {
  0% {
    opacity: 0;
    transform: scale(1.05);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.animate-magic-reveal {
  animation: magicReveal 0.7s ease-out;
}


/* 🔥 REMOVE CHROME AUTOFILL WHITE BACKGROUND */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
